<a href="https://colab.research.google.com/github/pungji01/dataAnalysis/blob/main/5%EC%9D%BC%EC%B0%A8_%ED%8C%8C%EC%9D%B4%EC%8D%AC%EA%B8%B0%EC%B4%88_%EB%B0%98%EB%B3%B5%EB%AC%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#5. 반복문

##5-1. for 반복문 : 유한반복

###1. 다양한 반복문

In [ ]:
# 1. range() 함수 이용 : 정수를 차례로 발생시키는 함수
for 변수 in range(3):       # in range(0,3,1)와 같다
    print(변수)

0
1
2

In [ ]:
# 2. 리스트 이용
a = list(range(10,0,-1))
print(a)

a = list(range(1,11))
print(a)
for i in a:
    print(i)

for i in a:
    print(i, end=',')

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
1
2
3
4
5
6
7
8
9
10
1,2,3,4,5,6,7,8,9,10,

In [ ]:
# 한 줄로 표현하는 방법
for i in range(1,101):
    print(i, end=',')
    if i%10 == 0:
        print('\n')

1,2,3,4,5,6,7,8,9,10,

11,12,13,14,15,16,17,18,19,20,

21,22,23,24,25,26,27,28,29,30,

31,32,33,34,35,36,37,38,39,40,

41,42,43,44,45,46,47,48,49,50,

51,52,53,54,55,56,57,58,59,60,

61,62,63,64,65,66,67,68,69,70,

71,72,73,74,75,76,77,78,79,80,

81,82,83,84,85,86,87,88,89,90,

91,92,93,94,95,96,97,98,99,100,

In [ ]:
# 3. 문자열 이용
for i in 'python':
    print(i)

p
y
t
h
o
n

In [ ]:
# 4. 변수 사용안하고 반복만 할 때
for _ in range(3):
    print('변수 사용 안할 때는 _ (언더바)를 사용!')

변수 사용 안할 때는 _ (언더바)를 사용!
변수 사용 안할 때는 _ (언더바)를 사용!
변수 사용 안할 때는 _ (언더바)를 사용!

In [ ]:
# 5. enumerate() : 리스트와 같은 순서가 있는 자료형의 인덱스를 함께 사용
fruits = ['사과','포도','딸기','키위']

idx = 0
for fruit in fruits:
    print(idx, fruit)
    idx += 1

for idx, fruit in enumerate(fruits):
    print(idx, fruit)

0 사과
1 포도
2 딸기
3 키위
0 사과
1 포도
2 딸기
3 키위

In [ ]:
# 6. 컬렉션 자료형 이용

# 리스트
for a, b in [(1,2),(3,4),(5,6)]:
    print(a,b)
print('-'*30)

# 딕셔너리
dic = {1:'사과', 2:'포도'}
for key in dic:
    print(key, dic[key])
print('-'*30)

for key, value in dic.items():
    print(key, value)

# 집합
print('-'*30)
for v in {1,2,3,3,4,5,3}:
    print(v)

1 2
3 4
5 6
------------------------------
1 사과
2 포도
------------------------------
1 사과
2 포도
------------------------------
1
2
3
4
5

###[실습문제] 1~N 까지 짝수 제외한 합계 구하기

In [ ]:
n = int(input('합계를 구할 숫자 입력: '))
hap = 0
for i in range(1, n+1):
    if i%2 != 0:
        hap += i
print(f"1~{n}까지 짝수를 제외한 합은 : {hap}")

합계를 구할 숫자 입력: 100
1~100까지 짝수를 제외한 합은 : 2500

In [ ]:
# 리스트 표현식(list comprehension) 사용
n = int(input('합계를 구할 숫자 입력: '))
hap = 0
for i in range(1, n+1, 2):
        hap += i
print(f"1~{n}까지 짝수를 제외한 합은 : {hap}")

합계를 구할 숫자 입력: 100
1~100까지 짝수를 제외한 합은 : 2500

In [ ]:
 # sum()함수 사용
n = int(input('합계를 구할 숫자 입력: '))
hap = sum( [i for i in range(1, n+1, 2)] )
print(f"1~{n}까지 짝수를 제외한 합은 : {hap}")

합계를 구할 숫자 입력: 100
1~100까지 짝수를 제외한 합은 : 2500

###[실습문제] 정오각형 그리기
- turtle 모듈을 코랩에서 사용할 수 없음
- pc에서 사용하기

In [ ]:
import turtle

t1= turtle.Pen()
t2= turtle.Pen()

t1.pensize(5)
t1.color('blue')
t1.shape('turtle')

t2.goto(-100,100)
t2.pensize(5)
t2.color('red')
t2.shape('turtle')

for _ in range(5):
    t1.forward(100)
    t1.right(72)

for _ in range(4):
    t2.forward(100)
    t2.right(90)

turtle.exitonclick()

###[실습문제] for문을 이용해 1부터 100까지 숫자를 한 줄로 출력

In [ ]:
for i in range(1,101):
    print(i, end=' ')

In [ ]:
# join() : 문자열을 연결해 주는 함수, 숫자인 경우 str() 함수 이용해서 형변형 해줘야 함
print( ' '.join( [str(i) for i in range(1,101)] ) )

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99 100

###[실습문제]
총 5명의 학생 성적이 아래와 같을 때 점수가 60점을 넘으면 합격이고 그렇지
않으면 불합격이다. 5명에 대하여 각각 합격인지 불합격인지 반복문을 이용하
여 결과를 출력해 주세요.

scores = [90, 25, 67, 45, 80]

In [ ]:
import random

# 방법1 : 직접 지정
# scores = [90, 25, 67, 45, 80]

# 방법2 : 빈 리스트 만들어서 숫자 리스트에 추가
#scores = []
#for _ in range(5):
#    scores.append(random.randint(1,101))

# 방법3 : 방법2를 list comprehension을 이용하여 한 줄로 표현
scores = [ random.randint(1,101) for _ in range(5)]

print(scores)
for idx, score in enumerate(scores):
    # if score >= 60:
    #     print(f'{idx+1}번 학생 {score}점 : 합격입니다.')
    # else:
    #     print(f'{idx+1}번 학생 {score}점 : 불합격입니다.')

        result = '합격' if score >= 60 else '불합격'
        print(f'{idx+1}번 학생 {score}점 : {result}입니다.')

[72, 95, 10, 61, 57]
1번 학생 72점 : 합격입니다.
2번 학생 95점 : 합격입니다.
3번 학생 10점 : 불합격입니다.
4번 학생 61점 : 합격입니다.
5번 학생 57점 : 불합격입니다.

###[실습문제] 괄호의 짝꿍이 올바른지 판단하여 결과를 True/False로 출력

In [ ]:
'''예)
)))()()((( => False
()()()()()) => False
()(())()() => True
))(())(( => False
()(()))( => False
((())()) => True
 6개 테스트를 모두
통과해야 함'''

p_list = list(input('판별할 괄호는 : '))
print(p_list)

t = 0
for p in p_list:
    if p == '(':
        t += 1
    elif p == ')':
        t -= 1
    if t < 0:
        break
if t == 0:
    print('결과 : True')
else:
    print('결과 : False')

판별할 괄호는 : ()()())
['(', ')', '(', ')', '(', ')', ')']
결과 : False

##중첩 for 반복문: 반복문 안에 반복문

In [ ]:
for i in range(3):
    print(f"{i}-------")
    for j in range(3):
        print(f"i:{i}, j:{j}")

0-------
i:0, j:0
i:0, j:1
i:0, j:2
1-------
i:1, j:0
i:1, j:1
i:1, j:2
2-------
i:2, j:0
i:2, j:1
i:2, j:2

In [ ]:
p_lists = [')))()()(((','()()()()())','()(())()()',
           '))(())((','()(()))(','((())())']

for p_list in p_lists:
    t = 0
    for p in p_list:
        if p == '(':
            t += 1
        elif p == ')':
            t -= 1
        if t < 0:
            break
    if t == 0:
        print('결과 : True')
    else:
        print('결과 : False')

결과 : False
결과 : False
결과 : True
결과 : False
결과 : False
결과 : True

##5-2. while 반복문

### while 반복문 기본형식

In [ ]:
a = 0
while a < 5:        # 조건이 참일 동안 반복
    print(f"{a}는 5보다 작군요")
    a += 1
print(f"{a}는 5와 같군요")

0는 5보다 작군요
1는 5보다 작군요
2는 5보다 작군요
3는 5보다 작군요
4는 5보다 작군요
5는 5와 같군요

In [ ]:
a = 0
while True:
    if a >= 5:
        break
    print(f"{a}는 5보다 작군요")
    a += 1
print(f"{a}는 5와 같군요")

0는 5보다 작군요
1는 5보다 작군요
2는 5보다 작군요
3는 5보다 작군요
4는 5보다 작군요
5는 5와 같군요

###[실습문제] "열 번 찍어 안 넘어가는 나무 없다"는 속담을 while문으로 만들기

In [ ]:
treeHit = 0
while treeHit<10:
    treeHit += 1
    print(f"나무를 {treeHit}번 찍었습니다.")
print('나무 넘어갑니다.')

나무를 1번 찍었습니다.
나무를 2번 찍었습니다.
나무를 3번 찍었습니다.
나무를 4번 찍었습니다.
나무를 5번 찍었습니다.
나무를 6번 찍었습니다.
나무를 7번 찍었습니다.
나무를 8번 찍었습니다.
나무를 9번 찍었습니다.
나무를 10번 찍었습니다.
나무 넘어갑니다.

In [ ]:
treeHit = 0
while True:
    if treeHit >= 10:
        print('나무 넘어갑니다.')
        break

    treeHit += 1
    print(f"나무를 {treeHit}번 찍었습니다.")

나무를 1번 찍었습니다.
나무를 2번 찍었습니다.
나무를 3번 찍었습니다.
나무를 4번 찍었습니다.
나무를 5번 찍었습니다.
나무를 6번 찍었습니다.
나무를 7번 찍었습니다.
나무를 8번 찍었습니다.
나무를 9번 찍었습니다.
나무를 10번 찍었습니다.
나무 넘어갑니다.