# 한글폰트 설정 및 라이브러리 임포트

In [ ]:
# 코드 실행 후 재시작
!sudo apt-get install -y fonts-nanum
!sudo fc-cache -fv
!rm ~/.cache/matplotlib -rf

# 필요한 라이브러리 import

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

# 멧플롯립 한글폰트 지정
plt.rc('font', family='NanumBarunGothic')
plt.rc('font', family='Malgun Gothic')
plt.rcParams['axes.unicode_minus'] = False

# 2024년 연령대별 현황
 - 2024년 연령대별 인구수 확인하기
 - https://jumin.mois.go.kr/#  연령별 인구현황 > 연령 구분 단위를 1세로 변경해서 조회하기

## 파일 읽어서 데이터프레임 생성하기

In [ ]:
df = 
df.head()

## 데이터 속성을 탐색

In [ ]:
df.함수이름?

## 데이터 전처리

### 행정구역을 인덱스로 설정하기

In [ ]:
df.인덱스 설정 함수는?
df.head(3)

### 남자 연령대별 인구 현황을 데이터프레임으로 생성하기

#### 데이터프레임 생성하기
   - 남자 연령대별 인구수 컬럼 가져오기

In [ ]:
df.columns   # 컬럼명 보기

In [ ]:
df_m = 남자 연령대별 컬럼에 해당하는 데이터만 가져오려면?
df_m.head()

#### 컬럼명 변경하기

In [ ]:
df_m.columns = 컬럼명 변경하는 방법은? ('2024년03월_남_'부분을 --> ''로 변경하기)
df_m.head()

In [ ]:
df_m.dtypes

#### 데이터 타입 변경하기
- 문자열을 정수형으로 변경하기

In [ ]:
from pandas.core.dtypes.api import is_numeric_dtype

def s(st):
  if is_numeric_dtype(st):
    return st

  else:
    return st.replace(',', '')

df_m.iloc[0].apply(s).astype(int)

In [ ]:
# 문자열을 정수로 변경하기
df_m.iloc[0] = 
df_m.head()

In [ ]:
df_m.head(1)

### 여자 연령대별 인구 현황을 데이터프레임으로 생성하기

#### 데이터프레임 생성하기
   - 여자 연령대별 인구수 컬럼 가져오기

In [ ]:
df_w = 
df_w.head()

#### 컬럼명 변경하기

In [ ]:
df_w.columns = 
df_w.head()

In [ ]:
df_w.dtypes

#### 데이터 타입 변경하기
- 문자열을 정수형으로 변경하기

In [ ]:
df_w.iloc[0]= 
df_w.head(1)

## 데이터 시각화

### 연령대별 인구 현황
- 가로 막대 그래프

In [ ]:
df_m.columns

In [ ]:
plt.figure(figsize=(15, 10))
plt.barh(df_m.columns, -df_m.iloc[0]//1000) #천 단위
plt.barh(df_w.columns, df_w.iloc[0]//1000)

plt.yticks(np.arange(0, 110, 10))

plt.title('2024 대한민국 인구 피라미드')
plt.savefig('2024_인구피라미드.png', dpi=100)
plt.show()