<a href="https://colab.research.google.com/github/pungji01/dataAnalysis/blob/main/5%EC%9D%BC%EC%B0%A8_%ED%8C%8C%EC%9D%B4%EC%8D%AC%EA%B8%B0%EC%B4%88_%EB%B0%98%EB%B3%B5%EB%AC%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#5. 반복문

##5-1. for 반복문 : 유한반복

###1. 다양한 반복문

In [ ]:
# 1. range() 함수 이용 : 정수를 차례로 발생시키는 함수
for 변수 in range(3):       # in range(0,3,1)와 같다
    print(변수)

0
1
2

In [ ]:
# 2. 리스트 이용
a = list(range(10,0,-1))
print(a)

a = list(range(1,11))
print(a)
for i in a:
    print(i)

for i in a:
    print(i, end=',')

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
1
2
3
4
5
6
7
8
9
10
1,2,3,4,5,6,7,8,9,10,

In [ ]:
# 한 줄로 표현하는 방법
for i in range(1,101):
    print(i, end=',')
    if i%10 == 0:
        print('\n')

1,2,3,4,5,6,7,8,9,10,

11,12,13,14,15,16,17,18,19,20,

21,22,23,24,25,26,27,28,29,30,

31,32,33,34,35,36,37,38,39,40,

41,42,43,44,45,46,47,48,49,50,

51,52,53,54,55,56,57,58,59,60,

61,62,63,64,65,66,67,68,69,70,

71,72,73,74,75,76,77,78,79,80,

81,82,83,84,85,86,87,88,89,90,

91,92,93,94,95,96,97,98,99,100,

In [ ]:
# 3. 문자열 이용
for i in 'python':
    print(i)

p
y
t
h
o
n

In [ ]:
# 4. 변수 사용안하고 반복만 할 때
for _ in range(3):
    print('변수 사용 안할 때는 _ (언더바)를 사용!')

변수 사용 안할 때는 _ (언더바)를 사용!
변수 사용 안할 때는 _ (언더바)를 사용!
변수 사용 안할 때는 _ (언더바)를 사용!

In [ ]:
# 5. enumerate() : 리스트와 같은 순서가 있는 자료형의 인덱스를 함께 사용
fruits = ['사과','포도','딸기','키위']

idx = 0
for fruit in fruits:
    print(idx, fruit)
    idx += 1

for idx, fruit in enumerate(fruits):
    print(idx, fruit)

0 사과
1 포도
2 딸기
3 키위
0 사과
1 포도
2 딸기
3 키위

In [ ]:
# 6. 컬렉션 자료형 이용

# 리스트
for a, b in [(1,2),(3,4),(5,6)]:
    print(a,b)
print('-'*30)

# 딕셔너리
dic = {1:'사과', 2:'포도'}
for key in dic:
    print(key, dic[key])
print('-'*30)

for key, value in dic.items():
    print(key, value)

# 집합
print('-'*30)
for v in {1,2,3,3,4,5,3}:
    print(v)

1 2
3 4
5 6
------------------------------
1 사과
2 포도
------------------------------
1 사과
2 포도
------------------------------
1
2
3
4
5

###[실습문제] 1~N 까지 짝수 제외한 합계 구하기

In [ ]:
n = int(input('합계를 구할 숫자 입력: '))
hap = 0
for i in range(1, n+1):
    if i%2 != 0:
        hap += i
print(f"1~{n}까지 짝수를 제외한 합은 : {hap}")

합계를 구할 숫자 입력: 100
1~100까지 짝수를 제외한 합은 : 2500

In [ ]:
n = int(input('합계를 구할 숫자 입력: '))
hap = 0
for i in range(1, n+1, 2):
        hap += i
print(f"1~{n}까지 짝수를 제외한 합은 : {hap}")

합계를 구할 숫자 입력: 100
1~100까지 짝수를 제외한 합은 : 2500

In [ ]:
 # sum()함수 사용
 # 리스트 표현식(list comprehension) 사용

n = int(input('합계를 구할 숫자 입력: '))
hap = sum( [i for i in range(1, n+1, 2)] )
print(f"1~{n}까지 짝수를 제외한 합은 : {hap}")

합계를 구할 숫자 입력: 100
1~100까지 짝수를 제외한 합은 : 2500

###[실습문제] 정오각형 그리기
- turtle 모듈을 코랩에서 사용할 수 없음
- pc에서 사용하기

In [ ]:
import turtle

t1= turtle.Pen()
t2= turtle.Pen()

t1.pensize(5)
t1.color('blue')
t1.shape('turtle')

t2.goto(-100,100)
t2.pensize(5)
t2.color('red')
t2.shape('turtle')

for _ in range(5):
    t1.forward(100)
    t1.right(72)

for _ in range(4):
    t2.forward(100)
    t2.right(90)

turtle.exitonclick()

###[실습문제] for문을 이용해 1부터 100까지 숫자를 한 줄로 출력

In [72]:
for i in range(1,101):
    print(i, end=' ')

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99 100

In [ ]:
# join() : 문자열을 연결해 주는 함수, 숫자인 경우 str() 함수 이용해서 형변형 해줘야 함
print( ' '.join( [str(i) for i in range(1,101)] ) )

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99 100

###[실습문제]
총 5명의 학생 성적이 아래와 같을 때 점수가 60점을 넘으면 합격이고 그렇지
않으면 불합격이다. 5명에 대하여 각각 합격인지 불합격인지 반복문을 이용하
여 결과를 출력해 주세요.

scores = [90, 25, 67, 45, 80]

In [ ]:
import random

# 방법1 : 직접 지정
# scores = [90, 25, 67, 45, 80]

# 방법2 : 빈 리스트 만들어서 숫자 리스트에 추가
#scores = []
#for _ in range(5):
#    scores.append(random.randint(1,101))

# 방법3 : 방법2를 list comprehension을 이용하여 한 줄로 표현
scores = [ random.randint(1,101) for _ in range(5)]

print(scores)
for idx, score in enumerate(scores):
    # if score >= 60:
    #     print(f'{idx+1}번 학생 {score}점 : 합격입니다.')
    # else:
    #     print(f'{idx+1}번 학생 {score}점 : 불합격입니다.')

        result = '합격' if score >= 60 else '불합격'
        print(f'{idx+1}번 학생 {score}점 : {result}입니다.')

[72, 95, 10, 61, 57]
1번 학생 72점 : 합격입니다.
2번 학생 95점 : 합격입니다.
3번 학생 10점 : 불합격입니다.
4번 학생 61점 : 합격입니다.
5번 학생 57점 : 불합격입니다.

###[실습문제] 괄호의 짝꿍이 올바른지 판단하여 결과를 True/False로 출력

In [ ]:
'''예)
)))()()((( => False
()()()()()) => False
()(())()() => True
))(())(( => False
()(()))( => False
((())()) => True
 6개 테스트를 모두
통과해야 함'''

p_list = list(input('판별할 괄호는 : '))
print(p_list)

t = 0
for p in p_list:
    if p == '(':
        t += 1
    elif p == ')':
        t -= 1
    if t < 0:
        break
if t == 0:
    print('결과 : True')
else:
    print('결과 : False')

판별할 괄호는 : ()()())
['(', ')', '(', ')', '(', ')', ')']
결과 : False

##중첩 for 반복문: 반복문 안에 반복문

In [ ]:
for i in range(3):
    print(f"{i}-------")
    for j in range(3):
        print(f"i:{i}, j:{j}")

0-------
i:0, j:0
i:0, j:1
i:0, j:2
1-------
i:1, j:0
i:1, j:1
i:1, j:2
2-------
i:2, j:0
i:2, j:1
i:2, j:2

In [ ]:
p_lists = [')))()()(((','()()()()())','()(())()()',
           '))(())((','()(()))(','((())())']

for p_list in p_lists:
    t = 0
    for p in p_list:
        if p == '(':
            t += 1
        elif p == ')':
            t -= 1
        if t < 0:
            break
    if t == 0:
        print('결과 : True')
    else:
        print('결과 : False')

결과 : False
결과 : False
결과 : True
결과 : False
결과 : False
결과 : True

##5-2. while 반복문

### while 반복문 기본형식

In [ ]:
a = 0
while a < 5:        # 조건이 참일 동안 반복
    print(f"{a}는 5보다 작군요")
    a += 1
print(f"{a}는 5와 같군요")

0는 5보다 작군요
1는 5보다 작군요
2는 5보다 작군요
3는 5보다 작군요
4는 5보다 작군요
5는 5와 같군요

In [ ]:
a = 0
while True:
    if a >= 5:
        break
    print(f"{a}는 5보다 작군요")
    a += 1
print(f"{a}는 5와 같군요")

0는 5보다 작군요
1는 5보다 작군요
2는 5보다 작군요
3는 5보다 작군요
4는 5보다 작군요
5는 5와 같군요

###[실습문제] "열 번 찍어 안 넘어가는 나무 없다"는 속담을 while문으로 만들기

In [ ]:
treeHit = 0
while treeHit<10:
    treeHit += 1
    print(f"나무를 {treeHit}번 찍었습니다.")
print('나무 넘어갑니다.')

In [ ]:
treeHit = 0
while True:
    if treeHit >= 10:
        print('나무 넘어갑니다.')
        break

    treeHit += 1
    print(f"나무를 {treeHit}번 찍었습니다.")

###[실습문제] 반복문 이용하여 퀴즈 맞히는 프로그램

In [ ]:
questions = ['일정한 구간의 명령을 반복해서 실행하도록 구성한 구문은?',
             '반복 횟수를 알기 힘들 때 사용하는 반복문은?',
             '난수를 발생시킬 때 사용하는 모듈은?']
answers = ['for반복문', 'while반복문', 'random()']

print("'끝'을 입력하면 퀴즈가 종료됩니다")

for i in range(len(questions)):
    print(questions[i])
    response = input('답을 입력하세요: ')

    while response != '끝':
        if response == answers[i]:
            print('정답입니다!')
            break
        else:
            response = input('다시 한번 생각해 보세요 : ')

print('끝!')

'끝'을 입력하면 퀴즈가 종료됩니다
일정한 구간의 명령을 반복해서 실행하도록 구성한 구문은?
답을 입력하세요: for 반복문
다시 한번 생각해 보세요 : for반복문
정답입니다!
반복 횟수를 알기 힘들 때 사용하는 반복문은?
답을 입력하세요: while 반복문
다시 한번 생각해 보세요 : while반복문
정답입니다!
난수를 발생시킬 때 사용하는 모듈은?
답을 입력하세요: 끝
끝!

###[실습문제]
1000만원을 년 이자율 7%로 저금했을 경우 2000만원이 되는 데 몇 년이
걸리는지 계산하는 프로그램을 만들어 보세요

In [ ]:
money = 10000000
yrate = 0.07
year = 0

while money <= 20000000:
    year += 1
    money += money*yrate
print(f'1000만원이 2000만원이 되기 위해서는 {year}년이 걸립니다.')

1000만원이 2000만원이 되기 위해서는 11년이 걸립니다.

###[실습문제]
Turtle 이용해서 정오각형을 그리기 → while & for 반복문으로 변환하기

In [ ]:
import turtle
t=turtle.Turtle()

# while 반복문 사용
line = 0
while line < 5:
    t.forward(100)
    t.right(72)
    line += 1

# for 반복문 사용
for line in range(5):
    t.forward(100)
    t.right(72)

turtle.exitonclick()

turtle.exitonclick()

###[실습문제] 1부터 1000까지의 자연수 중 3의 배수의 합을 구해 보자

In [ ]:
# for 반복문 사용
hap = 0
for number in range(3,1001,3):
    hap += number
print(f"1부터 1000까지의 자연수 중 3의 배수의 합은 {hap:,}입니다.")

1부터 1000까지의 자연수 중 3의 배수의 합은 166,833입니다.

In [ ]:
# while 반복문 사용
hap = 0
number = 1
while number < 1001:
    if number % 3 == 0:
        hap += number
    number += 1
print(f"1부터 1000까지의 자연수 중 3의 배수의 합은 {hap:,}입니다.")

1부터 1000까지의 자연수 중 3의 배수의 합은 166,833입니다.

In [ ]:
# 리스트 컴프리헨션 사용
hap = sum(number for number in range(3,1001,3))
print(f"1부터 1000까지의 자연수 중 3의 배수의 합은 {hap:,}입니다.")

1부터 1000까지의 자연수 중 3의 배수의 합은 166,833입니다.

###[실습문제] 사용자가 숫자를 입력하면 별 모양을 입력한 숫자의 두 배만큼 출력하는 프로그램을 만드세요. 예를 들어 5915를 입력하면 각 행에 10, 18, 2, 10개의 별을 출력해 보세요.

In [ ]:
numStars = input('숫자를 여러개 입력하세요: ')

for numStar in numStars:
    print( '\u2605' * int(numStar) * 2 )

숫자를 여러개 입력하세요: 5915
★★★★★★★★★★
★★★★★★★★★★★★★★★★★★
★★
★★★★★★★★★★

###[실습문제] 구구단 출력 ( 방법1:세로출력, 방법2:가로출력)

In [ ]:
# 세로출력
for i in range(2,10):
    print(f"---- {i} 단 ----")
    for j in range(1,10):
        print(f"{i} * {j} = {i}*{j}")

In [86]:
# 가로출력
for i in range(2, 10):
    print('--', i, '단', '--', end = '\t')
print('\n')

for j in range(1, 10):
    for i in range(2, 10):
        print(i,'*', j, '=', i*j, end = '\t')
    print('\n')

-- 2 단 --	-- 3 단 --	-- 4 단 --	-- 5 단 --	-- 6 단 --	-- 7 단 --	-- 8 단 --	-- 9 단 --

2 * 1 = 2	3 * 1 = 3	4 * 1 = 4	5 * 1 = 5	6 * 1 = 6	7 * 1 = 7	8 * 1 = 8	9 * 1 = 9

2 * 2 = 4	3 * 2 = 6	4 * 2 = 8	5 * 2 = 10	6 * 2 = 12	7 * 2 = 14	8 * 2 = 16	9 * 2 = 18

2 * 3 = 6	3 * 3 = 9	4 * 3 = 12	5 * 3 = 15	6 * 3 = 18	7 * 3 = 21	8 * 3 = 24	9 * 3 = 27

2 * 4 = 8	3 * 4 = 12	4 * 4 = 16	5 * 4 = 20	6 * 4 = 24	7 * 4 = 28	8 * 4 = 32	9 * 4 = 36

2 * 5 = 10	3 * 5 = 15	4 * 5 = 20	5 * 5 = 25	6 * 5 = 30	7 * 5 = 35	8 * 5 = 40	9 * 5 = 45

2 * 6 = 12	3 * 6 = 18	4 * 6 = 24	5 * 6 = 30	6 * 6 = 36	7 * 6 = 42	8 * 6 = 48	9 * 6 = 54

2 * 7 = 14	3 * 7 = 21	4 * 7 = 28	5 * 7 = 35	6 * 7 = 42	7 * 7 = 49	8 * 7 = 56	9 * 7 = 63

2 * 8 = 16	3 * 8 = 24	4 * 8 = 32	5 * 8 = 40	6 * 8 = 48	7 * 8 = 56	8 * 8 = 64	9 * 8 = 72

2 * 9 = 18	3 * 9 = 27	4 * 9 = 36	5 * 9 = 45	6 * 9 = 54	7 * 9 = 63	8 * 9 = 72	9 * 9 = 81